@model PagedList.IPagedList<CsharpAssignment.BusinessEntities.ViewModels.CityViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Cities", new { area = "City" }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Created_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Updated_Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
              
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
